<div class="login-box">
  <div class="login-logo">
    <a href="#">SISTAD</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Login único</p>

      <!-- Campo CPF -->
      <div class="form-group has-feedback">
        <input class="form-control" placeholder="CPF (Somente Números)" type="cpf">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      <!-- Fim do campo CPF --> 
       
      <div class="row">
        <div class="col-xs-8">
          <div>
            <label>
            </label>
          </div>
        </div>

        

      <!-- Botão Proxima -->
          <div class="col-xs-4">
            <a href= "login2.component.html">Próxima</a>
            <button [routerLink]="'/login2'" class="btn btn-primary btn-block btn-flat">Próxima</button>
          </div>
      <!--  Fim do botão Proxima -->

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
