  <div class="login-box">
    <div class="container login-container">
      <div class="col-sm-6 login-form">
        <h3>
          <img src="assets/img_sistad/logo.png" width="75" height="80"/>&nbsp;
          Bem vindo ao SISTAD
        </h3>
        <form>
          <div class="form-group">
            <label for="cpf">CPF:</label>
            <input id="cpf" maxlength="14" type="text" class="form-control inputCPF"
              placeholder="CPF 000.000.000-00"
              required oninvalid="this.setCustomValidity('O campo CPF é obrigatório!')" />
          </div>
          <div class="form-group">
            <label for="senha">Senha:</label>
            <input id="senha" class="form-control "
              placeholder="********"
              required oninvalid="this.setCustomValidity('O campo SENHA é obrigatório!')" />
          </div>
          <div class="form-group">
            <label for="modulo">Módulo:</label>
            <select class="form-control">
              <option value="1" selected>Pessoal</option>
              <option value="2">Avaliação de Mérito</option>
              <option value="3">SECPROM</option>
            </select>
          </div>
          <div class="form-group">
            <input type="submit" value="Entrar"  (click)="validarSenha();" class="btn btn-primary btn-block btn-flat btnSubmit" />
            <br/>
            <a href="https://apl1.sti.fab.mil.br/password/#/forgot" style="color:#FFF;">Esqueci minha senha.</a>
            <div class="checkbox icheck">
              <label>
                <input type="checkbox" style="background-color: #FFF;"> Lembrar Acesso
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
