  <!-- Content Wrapper. Contains page content -->
  <div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Dados Pessoais:</h1>
      <hr/>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Pessoal</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="container">
      <!-- <div class="row">
        <ul class="list-inline list-group list-group-horizontal">
          <li class="list-group-item list-group-item-action list-group-item-light">Dados Pessoais</li>
          <li class="list-group-item list-group-item-action list-group-item-light">Consulta Militar</li>
          <li class="list-group-item list-group-item-action list-group-item-light">TAF</li>
          <li class="list-group-item list-group-item-action list-group-item-light">LMR</li>
        </ul>
      </div> -->
      <!-- /.row -->
    </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
